/* vars */

@import "vars/breakpoints";
@import "vars/fonts";
@import "vars/colors";
@import "vars/transitions";
@import "vars/buttons";


$accent-inactive: desaturate($accent, 85%);
$secondary: $accent-inactive;

body {
  position: relative;
  display: block;
  overflow-y: scroll;
  font-family: $main-font;
  background: $black-primary;
  h1, h2, h3 {
    color: $white-primary;
    padding-top: 50px;
    text-align: center;
  }
  h3 {
    //padding-bottom: 100vh;
  }
}
$boxShadowConfig: 0 0 35px 2px;

$boxShadowConfig-mobile: 0 0 60px 2px;

@keyframes outLight {
  //from {box-shadow: 0 0 30px 1px rgb(300,90,45,0.75);}
  //to {box-shadow: 0 0 30px 1px rgb(220,90,45, 0.75);}
  0%{box-shadow: $boxShadowConfig hsla(268,90%,45%, 0.5)}
  10%{box-shadow: $boxShadowConfig  hsla(220,90%,45%, 0.5)}
  30%{box-shadow: $boxShadowConfig hsla(300,90%,45%,0.5)}
  50%{box-shadow: $boxShadowConfig  hsla(268,90%,45%, 0.5)}
  70%{box-shadow: $boxShadowConfig  hsla(220,90%,45%, 0.5)}
  90%{box-shadow: $boxShadowConfig  hsla(300,90%,45%, 0.5)}
  100%{box-shadow: $boxShadowConfig  hsla(268,90%,45%, 0.5)}
}

@keyframes outLight-mobile {
  //from {box-shadow: 0 0 30px 1px rgb(300,90,45,0.75);}
  //to {box-shadow: 0 0 30px 1px rgb(220,90,45, 0.75);}
  0%{box-shadow: $boxShadowConfig-mobile hsla(268,90%,45%, 0.5)}
  10%{box-shadow: $boxShadowConfig-mobile  hsla(220,90%,45%, 0.5)}
  30%{box-shadow: $boxShadowConfig-mobile hsla(300,90%,45%,0.5)}
  50%{box-shadow: $boxShadowConfig-mobile  hsla(268,90%,45%, 0.5)}
  70%{box-shadow: $boxShadowConfig-mobile  hsla(220,90%,45%, 0.5)}
  90%{box-shadow: $boxShadowConfig-mobile  hsla(300,90%,45%, 0.5)}
  100%{box-shadow: $boxShadowConfig-mobile  hsla(268,90%,45%, 0.5)}
}

header {
  z-index: 999;
  &.scroll {
    //transition: 500ms linear;
    animation-name: outLight;
    @media (max-width: $screen-991) {
      animation-name: outLight-mobile;
    }
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    //box-shadow: 0 2px 10px rgba(226, 173, 38, 0.5);
    //box-shadow: 0 2px 10px rgba(255, 255, 255, 0.5);
    //animation: outLight 10s ease infinite;

  }
  &.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

  }
  .navbar {
    min-height: 100px;
    background-color: $black-primary;
    .navbar-collapse {

      ul {
        align-items: center;
        li {
          &.nav-item {
            min-width: 15vw;
            text-align: center;
            &:nth-child(2){
              text-align: right;

            }


          }
          a {
            font-size: 20px;
            color: $white-primary;
            &:hover {
              color: $gold-primary;
            }
            &.active {
              color: $gold-primary;
            }
          }
        }
      }
    }
    @media (max-width: $screen-991) {
      min-height: 60px;
      .container {
      }
      .navbar-brand {
        margin-right: 0.25rem;
      }
      .navbar-collapse {

        .navbar-nav {
          min-height: calc(100vh - 60px);
          li {
            margin-bottom: 20px;

            &.collapsed-logo {

              margin-bottom: 40px;
            }
            &.nav-item {
              &:nth-child(2){
                text-align: center;

              }
            }

          }
        }
        &.show {

          .navbar-nav {
          }
        }

        ul {
        }
      }
    }
  }
}


/* Hamburger button icon */

.animated-icon {
  width: 40px;
  height: 20px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    background: $white-primary;
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0;
      width: 85%;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 10px;
      width: 60%;
    }
    &:nth-child(4) {
      top: 20px;
    }
  }
  &.open {
    span {
      background: transparent;

      &:nth-child(1) {
        top: 11px;
        width: 0;
        left: 50%;
      }
      &:nth-child(2) {
        border-bottom: 5px dotted #fff;
        width: 100%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        border-bottom: 5px dotted #fff;
        width: 100%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 11px;
        width: 0;
        left: 50%;
      }
    }
  }
}


// About page
#head-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .embed-container {
    width: 100vw;
    object-fit: cover;
    height: auto;
    overflow-y: hidden;
    --video--width: 1364*1.1;
    --video--height: 584*1.12;
    padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
    video {
      position: absolute;
      top: -24%; left: -20%;
      width: 125%; height: 150%;

    }
    .overlay {
      position: absolute;
      width: 110%; height: 102%;
      top: -2%; left: -5%;
      z-index: 3;
      background-color: rgba($black-primary, 0.25);
    }
    .muteBtn-about {
      outline: none !important;
      box-shadow: none;
      z-index: 5;
      position: absolute;
      bottom: 20px; right: 20px;
      display: flex;
      border: 1px solid rgba($white-primary, 0.5);
      border-radius: 5px;
      background-color: transparent;
      padding: 5px 6px;
      &:active {
        outline: none !important;
        box-shadow: none;
      }
      &.active-sound {
        border: 1px solid rgba($gold-primary, 1);
      }
      i {
        font-size: 25px;
        text-align: center;
        line-height: 1;

        &.bi-volume-up {
          color: rgba($gold-primary, 1);
        }
        &.bi-volume-mute {
          color: rgba($white-primary, 0.5);
        }

      }
    }

  }
  .head-block-words {
    z-index: 5;
    position: absolute;
    margin: 0 auto;
    width: 435px;
    height: 347px;
    border: 8px solid $white-primary;
    backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    -webkit-backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    h1 {
      padding-top: 100px;
      font-size: 35px;
      line-height: 1.15;
    }
    p {
      text-align: center;
      color: $white-primary;
      font-size: 23px;
      line-height: 1.15;
    }
  }
  @media (max-width: $screen-991) {
    .head-block-words {
      max-width: 300px;
      height: 250px;
      h1 {
        font-size: 30px;
        padding-top: 30px;
      }
    }
  }
  @media (max-width: $screen-767) {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    height: 310px;
    .embed-container {

      video {
        position: absolute;
        //top: 0; left: 0;
        //width: 100%; height: 100%;
        top: -50%; left: -50%;
        width: 200%; height: 200%;
      }
      .muteBtn-about {
        bottom: 15px; right: 15px;
        i {
          font-size: 18px;
        }
      }
    }
    .head-block-words {
      border-width: 6px;
      max-width: 180px;
      height: 120px;
      h1 {
        font-size: 24px;
        padding-top: 30px;
        br {
          display: none;
        }
      }
    }
  }
}

#about-club-block {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  height: 1070px;
  .about-club-item-center {
    max-width: 50vw;
    text-align: center;
    h1 {
      padding-top: 0;

    }
    h3 {
      padding-top: 0;
      width: 70%;
      margin: 0 auto;
    }
    p {
      padding-top: 100px;
      font-size: 25px;
      color: $white-primary;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }
  .about-club-item-left {
    width: 25vw;
    min-height: 1070px;
    background-image: url(../img/august_profilbild-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    position: relative;
  }
  .about-club-item-right {
    width: 25vw;
    min-height: 1070px;
    background-image: url(../img/august_profilbild-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    position: relative;
  }
  @media (max-width: $screen-991) {
    height: 840px;
    text-align: center;
    .about-club-item-center {
      max-width: 100vw;
      text-align: center;
      h1 {
        padding-bottom: 20px;
      }
      h3 {
        padding-top: 0;
        width: 67%;
        margin: 0 auto;
      }
      p {
        display: none;
      }
    }
    .about-club-item-left {
      display: none;
    }
    .about-club-item-right {
      display: none;
    }
  }
}

#titel-bild-block {

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 950px;
  background-image: url(../img/titelbild_feb_2020-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  a {
    text-decoration: none;
  }
  .titel-bild-card-left, .titel-bild-card-right {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 500px;
    height: 500px;
    border: 8px solid $white-primary;
    background-color: transparent;
    backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    -webkit-backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);

  //.fb-events {
  //  width: 300px;
  //  height: 450px;
  //  iframe {
  //    width: 300px;
  //    height: 450px;
  //  }
  //}
    &:hover {
      border-color: $gold-primary;
      h1 {
        color: $gold-primary;
      }
    }
  }
  @media (max-width: $screen-991) {
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-position: 75% 50%;

    .titel-bild-card-left, .titel-bild-card-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 250px;
      height: 236px;
      .fb-events {
        background-color: transparent;
        padding-top: 5px !important;

        width: 236px;
        height: 180px;
        iframe {
          top: -70px;
          width: 236px !important;
          height: 240px !important;
        }
      }
      h1 {
        padding-top: 0;
      }
    }
  }
}

// Corporate page
#head-block-corporate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  .embed-container {
    width: 100vw;
    object-fit: cover;
    height: auto;
    //padding-bottom: 30%;
    overflow: hidden;
    --video--width: 1280*1.25;
    --video--height: 720*0.75;
    padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
    //width: 100%;
    video {
      position: absolute;
      top: -10%; left: -25%;
      width: 150%; height: 110%;
    }
    .overlay {
      position: absolute;
      width: 150%; height: 110%;
      top: -10%; left: -25%;
      z-index: 3;
      background-color: rgba($black-primary, 0.25);
    }
    .muteBtn-corp {
      outline: none !important;
      box-shadow: none;
      z-index: 5;
      position: absolute;
      bottom: 20px; right: 20px;
      display: flex;
      border: 1px solid rgba($white-primary, 0.5);
      border-radius: 5px;
      background-color: transparent;
      padding: 5px 6px;
      &:active {
        outline: none !important;
        box-shadow: none;
      }
      &.active-sound {
        border: 1px solid rgba($gold-primary, 1);
      }
      i {
        font-size: 25px;
        text-align: center;
        line-height: 1;

        &.bi-volume-up {
          color: rgba($gold-primary, 1);
        }
        &.bi-volume-mute {
          color: rgba($white-primary, 0.5);
        }

      }
    }
  }
  .head-block-words {
    z-index: 5;
    position: absolute;
    margin: 0 auto;
    width: 435px;
    height: 347px;
    border: 8px solid $white-primary;
    backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    -webkit-backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    h1 {
      padding-top: 110px;
      font-size: 35px;
      line-height: 1.15;
    }
    p {
      text-align: center;
      color: $white-primary;
      font-size: 23px;
      line-height: 1.15;
    }
  }
  @media (max-width: $screen-991) {
    .head-block-words {
      max-width: 250px;
      height: 250px;
      h1 {
        font-size: 30px;
        padding-top: 60px;
        br {
          display: none;
        }
      }
    }
  }
  @media (max-width: $screen-767) {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    height: 400px;
    .embed-container {
      video {
        position: absolute;
        top: -50%; left: -50%;
        width: 200%; height: 200%;
      }
      .muteBtn-corp {
        bottom: 15px; right: 15px;
        i {
          font-size: 18px;
        }
      }
    }
    .head-block-words {
      border-width: 6px;
      max-width: 180px;
      height: 120px;
      h1 {
        font-size: 24px;
        padding-top: 15px;
        br {
          display: none;
        }
      }
    }
  }
}

#corp-event-block {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  height: 1070px;
  .corp-event-item-center {
    max-width: 50vw;
    text-align: center;
    h1 {
      padding-top: 0;
    }
    h3 {
      padding-top: 0;
      width: 70%;
      margin: 0 auto;
    }
  }
  .corp-event-item-left {
    width: 25vw;
    min-height: 1070px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .corp-event-item-right {
    width: 25vw;
    min-height: 1070px;
  }
  @media (max-width: $screen-991) {
    height: 850px;
    text-align: center;
    .corp-event-item-center {
      max-width: 100vw;
      text-align: center;
      h1 {
        padding-bottom: 20px;
        width: 70%;
        font-size: 40px;
        margin: 0 auto;
      }
      h3 {
        padding-top: 0;
        width: 80%;
        margin: 0 auto;
      }
      p {
        display: none;
      }
    }
    .corp-event-item-left {
      display: none;
    }
    .corp-event-item-right {
      display: none;
    }
  }
}

#corporate-carousel {
  .carousel-indicators [data-bs-target] {
    margin-bottom: 5rem;
    background-color: transparent;
    border: 3px solid $white-primary;
    border-radius: 30px;
    opacity: 0.75;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    margin-left: 12px;
    &.active {
      opacity: 1;
      background-color: $white-primary;
      border: 3px solid $white-primary;
    }
  }
  @media (max-width: $screen-991) {
    .carousel-indicators [data-bs-target] {
      margin-bottom: 2rem;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      margin-left: 10px;
      &.active {
        opacity: 1;
        background-color: $white-primary;
        border: 3px solid $white-primary;
      }
    }
  }
  @media (max-width: $screen-767) {
    .carousel-indicators [data-bs-target] {
      display: none;
    }
  }

}


#contact-info-block {
  .contact-info-item-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 1083px;
    margin: 0 auto;
    h3 {
      width: 70%;
      margin: 0 auto;
    }
  }
  @media (max-width: $screen-991) {
    .contact-info-item-center {
      height: 800px;
      width: 80%;
      h3 {
        width: 100%;
      }
    }

  }
}

// Book table page
#head-block-booktable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 980px;
  background-image: url(../img/head_background-booktable.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  .head-block-words {
    margin: 0 auto;
    width: 435px;
    height: 347px;
    border: 8px solid $white-primary;
    backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    -webkit-backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    h1 {
      padding-top: 120px;
      font-size: 35px;
      line-height: 1.15;
    }
  }
  @media (max-width: $screen-991) {
    height: 560px;
    .head-block-words {
      max-width: 270px;
      height: 290px;
      h1 {
        padding-top: 70px;
      }
    }
  }
}

#booktable-block {
  //justify-content: space-between;

  .booktable-item-center {
    padding-top: 320px;
    margin: 0 auto;
    h1 {
      padding-top: 0;
      margin-bottom: 1rem;
    }
    h3 {
      padding-top: 0;
    }
  }
  @media (max-width: $screen-991) {
    .booktable-item-center {
      padding-top: 130px;
      height: 735px;
    }
  }
  @media (max-width: $screen-767) {
    .booktable-item-center {
      padding-top: 130px;
      height: 620px;
    }
  }
}

#booktable-contact-from {
  padding-top: 170px;
  .container {
    .form-left-side {
      .col-group-item {
        border: 1px solid $gray-text;
        background-color: $white-primary;
        height: 98px;
        padding-left: 24px;
        padding-top: 16px;
        label {
          font-size: 20px;
          line-height: 1.15;
          color: $gold-primary;
          margin-bottom: 0;

        }
        input {
          padding-left: 0;
          border: none;
          font-size: 25px;
          line-height: 1.15;
          color: $gray-text;
          &::-webkit-input-placeholder { color: #dfe4ea; }
          &::-ms-input-placeholder { color: #dfe4ea; }
          &::-ms-input-placeholder { color: #dfe4ea; }
          &::placeholder { color: #dfe4ea; }
          &:focus {
            border: none;
            box-shadow: none;
          }
          &#validationCustom01 {
            position: relative;
            height: 45px;
            color: $gray-text;
            //font-size: 50px;

            &::-webkit-calendar-picker-indicator {
              background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="hsl(43, 76%, 52%)" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
              position: absolute;
              top: -2px;
              right: 8px;
            }

          }
        }
        select {
          margin-top: -30px;
          padding-top: 30px;
          padding-left: 0;
          border: none;
          font-size: 25px;
          line-height: 1.15;
          color: $gray-text;
          &:focus {
            border: none;
            box-shadow: none;
          }
          &.form-select {
            background-position: right .75rem top 1.5rem ;
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.704 27.342' width='27.704' height='27.342'><path fill='none' stroke='hsl(43, 76%, 52%)' stroke-linecap='' stroke-linejoin='' stroke-width='3' d='M-3955,0l-12,26Zm-25,0,13,26Z' transform='translate(3981.342 0.671)'/></svg>");
            background-size: 27.7px 27.3px;
            height: 75px;
          }
          &.select-with-multi-icon {
            background-position: right .75rem bottom .10rem ;
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='27.724' height='75.341' viewBox='0 0 27.724 75.341'><path fill='none' stroke='hsl(43, 76%, 52%)' stroke-linecap='' stroke-linejoin='' stroke-width='3' d='M-3980-188l13,26Zm25,0-12,26Zm-13-48,13,26Zm0,0-12,26Z' transform='translate(3981.362 236.671)' /></svg>");
            background-size: 27px 75px;
            height: 75px;
          }
        }

        .invalid-feedback {
          margin-top: -10px;
        }
      }
      .col-group-item-textarea {
        background-color: $white-primary;
        padding-left: 24px;
        padding-top: 16px;
        label {
          font-size: 20px;
          line-height: 1.15;
          color: $gold-primary;
          margin-bottom: 0;

        }
        textarea {
          padding-left: 0;
          border: none;
          font-size: 25px;
          line-height: 1.15;
          color: $gray-text;
          &:focus {
            border: none;
            box-shadow: none;
          }
          &::-webkit-input-placeholder { color: #dfe4ea; }
          &::-ms-input-placeholder { color: #dfe4ea; }
          &::-ms-input-placeholder { color: #dfe4ea; }
          &::placeholder { color: #dfe4ea; }
        }
      }
    }
    .form-right-side {
      .top-content {
        margin-left: 50px;
        h1 {
          font-size: 25px;
          line-height: 1.15;
          text-align: left;
          padding-top: 0;
          margin-bottom: 30px;

        }
      }

      .bottom-content {
        margin-left: 50px;
        .form-check {
          margin-bottom: 65px;
          .form-check-input {
            position: absolute;
            width: 35px;
            height: 35px;
            border-radius: 0;
            border: 5px solid $gold-primary;
            background-color: transparent;

            &:checked[type=checkbox] {

              background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M3 10l5 5l8-8'/></svg>");
              background-color: $gold-primary;
            }
            &:focus {
              box-shadow: none;
            }

          }
          .form-check-label {
            padding-left: 35px;
            font-size: 14px;
            line-height: 1.15;
            color: $white-primary;
          }
        }
        button {
          width: 350px;
          height: 58px;
          border-radius: 0;
          font-size: 22px;
          line-height: 1.15;
          background-color: transparent;
          border: 1px solid $gray-text;
          padding-top: 10px;
          box-shadow:
                  0.3em 0.3em 0 0 $gold-primary,
                  inset 0.3em 0.3em 0 0 $gold-primary;

          &:hover,
          &:focus {
            box-shadow:
                    0 0 0 0 $gold-primary,
                    inset 6em 3.5em 0 0 $gold-primary;
          }
        }
      }
    }
  }
  @media (max-width: $screen-991) {

  }
  @media (max-width: $screen-767) {
    padding-top: 0;
    .container {
      .form-left-side {
        .col-group-item {
          border: 1px solid $gray-text;
          background-color: $white-primary;
          height: 73px;
          padding-left: 20px;
          padding-top: 10px;
          label {
            width: 87%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
          }
          input {
            margin-top: -11px;
            padding-left: 0;
            border: none;
            font-size: 22px;
            line-height: 1.15;
            color: $gray-text;
            &:focus {
              border: none;
              box-shadow: none;
            }

            &#validationCustom01 {
              position: relative;
              height: 40px;
              color: $gray-text;
            }
          }
          select {
            height: 32px;
            margin-top: -35px;
            padding-top: 30px;
            padding-left: 0;
            border: none;
            font-size: 22px;
            line-height: 1.15;
            color: $gray-text;

            &:focus {
              border: none;
              box-shadow: none;
            }

            &.form-select {
              background-position: right .75rem top 1.5rem ;
              background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.704 27.342' width='27.704' height='27.342'><path fill='none' stroke='hsl(43, 76%, 52%)' stroke-linecap='' stroke-linejoin='' stroke-width='3' d='M-3955,0l-12,26Zm-25,0,13,26Z' transform='translate(3981.342 0.671)'/></svg>");
              background-size: 20px 20px;
              height: 70px;
            }
            &.select-with-multi-icon {
              background-position: right .75rem bottom .10rem ;
              background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='27.724' height='75.341' viewBox='0 0 27.724 75.341'><path fill='none' stroke='hsl(43, 76%, 52%)' stroke-linecap='' stroke-linejoin='' stroke-width='3' d='M-3980-188l13,26Zm25,0-12,26Zm-13-48,13,26Zm0,0-12,26Z' transform='translate(3981.362 236.671)' /></svg>");
              background-size: 20px 60px;
              height: 70px;
            }
          }
          textarea {
            font-size: 22px;
            &::-webkit-input-placeholder { font-size: 22px; }
            &::-ms-input-placeholder { font-size: 22px; }
            &::-ms-input-placeholder { font-size: 22px; }
            &::placeholder { font-size: 22px; }
          }
          .invalid-feedback {
            font-size: 12px;
            margin-top: -8px;
          }
        }
      }
      .form-right-side {
        .top-content {
          padding-top: 70px;
          width: 80%;
          margin: 0 auto;

        }
        .bottom-content {
          width: 80%;
          margin: 0 auto;
          button {
            width: 200px;
          }
        }
      }
    }

  }
}


// Kalender page
#head-block-kalender {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 980px;
  background-image: url(../img/head_background-kalender.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  .head-block-words {
    margin: 0 auto;
    width: 435px;
    height: 347px;
    border: 8px solid $white-primary;
    backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    -webkit-backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    h1 {
      padding-top: 120px;
      font-size: 35px;
      line-height: 1.15;
    }
  }
  @media (max-width: $screen-991) {
    height: 590px;
    background-position: 14% 50%;
    .head-block-words {
      max-width: 270px;
      height: 290px;
      h1 {
        padding-top: 90px;
      }
    }
  }
}
#kalender-cards-block {
  //padding-top: 264px;
  padding-top: 120px;
  .kalender-cards-row {
    justify-content: center;
    .kalender-card-center {
      .card {
        margin-bottom: 84px !important;
        .img-col {

        }
        .text-col {
          .card-body {
            padding-left: 90px;
            h1 {
              text-align: left;
              font-size: 66px;
              line-height: 1.15;
              color: $black-primary;
              padding-top: 45px;
            }
            h2 {
              text-align: left;
              font-size: 49px;
              line-height: 1.15;
              color: $gold-primary;
              padding-top: 10px;
            }
          }
        }
      }
      .fb-events {
        text-align: center;
        height: 700px;

        @media (max-width: $screen-767) {
          height: 500px;
        }
      }
    }
  }
  @media (max-width: $screen-991) {
    padding-top: 50px;
    .kalender-cards-row {
      justify-content: center;
      .kalender-card-center {
        .card {
          margin-bottom: 20px !important;
          .img-col {

          }
          .text-col {
            .card-body {
              padding-left: 30px;
              h1 {
                text-align: left;
                font-size: 50px;
                line-height: 1.15;
                color: $black-primary;
                padding-top: 30px;
              }
              h2 {
                width: 80%;
                text-align: left;
                font-size: 38px;
                line-height: 1.15;
                color: $gold-primary;
                padding-top: 0;
                padding-bottom: 40px;
              }
            }
          }
        }
      }
    }
  }
}



#lorem-info-block {
  .lorem-info-item-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    min-height: 900px;
    margin: 0 auto;
    h3 {
      width: 70%;
      margin: 0 auto;
    }
  }
  @media (max-width: $screen-991) {
    .lorem-info-item-center {
      min-height: 800px;
      h3 {
        width: 100%;
        margin: 0 auto;
      }
    }

  }
}


footer {
  min-height: 570px;
  margin: 0 4vw;
  .container-foo {
    padding-top: 185px;
    .footer-col-item {
      h1, p{
        color: $white-primary;
        font-size: 33px;
        text-align: left;
        line-height: 1.15;
        padding: 0 2vw;
        a {
          color: $white-primary;
          text-decoration: none;
          &:hover {
            color: $gold-primary;
          }
        }
      }
      p {
        padding-top: 40px;
      }
      &:nth-child(1), &:nth-child(3) {
        word-break: break-all;
      }
    }
  }
  .footer-image {
    justify-content: center;
  }
  @media (max-width: $screen-991) {
    .container-foo {
      padding-top: 120px;
      .footer-col-item {
        h1, p {
          color: $white-primary;
          font-size: 25px;
          text-align: left;
          line-height: 1.15;
          padding: 0 2vw;
          &.mobile-p {
            padding-top: 0;
            font-size: 23px;
            margin-bottom: 30px;
          }
        }
        p {
          padding-top: 15px;

        }
        &:nth-child(1) {
          p {font-size: 21px}
        }
      }
    }
    .footer-image {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  @media (max-width: $screen-767) {
    .container-foo {
      .footer-col-item {
        h1 {
          &.mobile-p{
            padding-top: 40px;
          }
        }

      }
    }
  }
}


