/* vars */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: 'Acier-TextSolid';
  font-style: normal;
  font-weight: 400;
  src: url("../lib/fonts/Acier/Acier-TextSolid.ttf") format("woff2"), url("../lib/fonts/Acier/Acier-TextSolid.woff") format("woff"), url("../lib/fonts/Acier/Acier-TextSolid.ttf") format("truetype"); }

/* colors */
body {
  position: relative;
  display: block;
  overflow-y: scroll;
  font-family: "Acier-TextSolid", sans-serif;
  background: #000000; }
  body h1, body h2, body h3 {
    color: #FFFDFD;
    padding-top: 50px;
    text-align: center; }

@keyframes outLight {
  0% {
    box-shadow: 0 0 35px 2px rgba(108, 11, 218, 0.5); }
  10% {
    box-shadow: 0 0 35px 2px rgba(11, 80, 218, 0.5); }
  30% {
    box-shadow: 0 0 35px 2px rgba(218, 11, 218, 0.5); }
  50% {
    box-shadow: 0 0 35px 2px rgba(108, 11, 218, 0.5); }
  70% {
    box-shadow: 0 0 35px 2px rgba(11, 80, 218, 0.5); }
  90% {
    box-shadow: 0 0 35px 2px rgba(218, 11, 218, 0.5); }
  100% {
    box-shadow: 0 0 35px 2px rgba(108, 11, 218, 0.5); } }

@keyframes outLight-mobile {
  0% {
    box-shadow: 0 0 60px 2px rgba(108, 11, 218, 0.5); }
  10% {
    box-shadow: 0 0 60px 2px rgba(11, 80, 218, 0.5); }
  30% {
    box-shadow: 0 0 60px 2px rgba(218, 11, 218, 0.5); }
  50% {
    box-shadow: 0 0 60px 2px rgba(108, 11, 218, 0.5); }
  70% {
    box-shadow: 0 0 60px 2px rgba(11, 80, 218, 0.5); }
  90% {
    box-shadow: 0 0 60px 2px rgba(218, 11, 218, 0.5); }
  100% {
    box-shadow: 0 0 60px 2px rgba(108, 11, 218, 0.5); } }

header {
  z-index: 999; }
  header.scroll {
    animation-name: outLight;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both; }
    @media (max-width: 991px) {
      header.scroll {
        animation-name: outLight-mobile; } }
  header.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0; }
  header .navbar {
    min-height: 100px;
    background-color: #000000; }
    header .navbar .navbar-collapse ul {
      align-items: center; }
      header .navbar .navbar-collapse ul li.nav-item {
        min-width: 15vw;
        text-align: center; }
        header .navbar .navbar-collapse ul li.nav-item:nth-child(2) {
          text-align: right; }
      header .navbar .navbar-collapse ul li a {
        font-size: 20px;
        color: #FFFDFD; }
        header .navbar .navbar-collapse ul li a:hover {
          color: #E2AD26; }
        header .navbar .navbar-collapse ul li a.active {
          color: #E2AD26; }
    @media (max-width: 991px) {
      header .navbar {
        min-height: 60px; }
        header .navbar .navbar-brand {
          margin-right: 0.25rem; }
        header .navbar .navbar-collapse .navbar-nav {
          min-height: calc(100vh - 60px); }
          header .navbar .navbar-collapse .navbar-nav li {
            margin-bottom: 20px; }
            header .navbar .navbar-collapse .navbar-nav li.collapsed-logo {
              margin-bottom: 40px; }
            header .navbar .navbar-collapse .navbar-nav li.nav-item:nth-child(2) {
              text-align: center; } }

/* Hamburger button icon */
.animated-icon {
  width: 40px;
  height: 20px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .animated-icon span {
    background: #FFFDFD;
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    .animated-icon span:nth-child(1) {
      top: 0;
      width: 85%; }
    .animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
      top: 10px;
      width: 60%; }
    .animated-icon span:nth-child(4) {
      top: 20px; }
  .animated-icon.open span {
    background: transparent; }
    .animated-icon.open span:nth-child(1) {
      top: 11px;
      width: 0;
      left: 50%; }
    .animated-icon.open span:nth-child(2) {
      border-bottom: 5px dotted #fff;
      width: 100%;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .animated-icon.open span:nth-child(3) {
      border-bottom: 5px dotted #fff;
      width: 100%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .animated-icon.open span:nth-child(4) {
      top: 11px;
      width: 0;
      left: 50%; }

#head-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }
  #head-block .embed-container {
    width: 100vw;
    object-fit: cover;
    height: auto;
    overflow-y: hidden;
    --video--width: 1364*1.1;
    --video--height: 584*1.12;
    padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); }
    #head-block .embed-container video {
      position: absolute;
      top: -24%;
      left: -20%;
      width: 125%;
      height: 150%; }
    #head-block .embed-container .overlay {
      position: absolute;
      width: 110%;
      height: 102%;
      top: -2%;
      left: -5%;
      z-index: 3;
      background-color: rgba(0, 0, 0, 0.25); }
    #head-block .embed-container .muteBtn-about {
      outline: none !important;
      box-shadow: none;
      z-index: 5;
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: flex;
      border: 1px solid rgba(255, 253, 253, 0.5);
      border-radius: 5px;
      background-color: transparent;
      padding: 5px 6px; }
      #head-block .embed-container .muteBtn-about:active {
        outline: none !important;
        box-shadow: none; }
      #head-block .embed-container .muteBtn-about.active-sound {
        border: 1px solid #e2ad26; }
      #head-block .embed-container .muteBtn-about i {
        font-size: 25px;
        text-align: center;
        line-height: 1; }
        #head-block .embed-container .muteBtn-about i.bi-volume-up {
          color: #e2ad26; }
        #head-block .embed-container .muteBtn-about i.bi-volume-mute {
          color: rgba(255, 253, 253, 0.5); }
  #head-block .head-block-words {
    z-index: 5;
    position: absolute;
    margin: 0 auto;
    width: 435px;
    height: 347px;
    border: 8px solid #FFFDFD;
    backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    -webkit-backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%); }
    #head-block .head-block-words h1 {
      padding-top: 100px;
      font-size: 35px;
      line-height: 1.15; }
    #head-block .head-block-words p {
      text-align: center;
      color: #FFFDFD;
      font-size: 23px;
      line-height: 1.15; }
  @media (max-width: 991px) {
    #head-block .head-block-words {
      max-width: 300px;
      height: 250px; }
      #head-block .head-block-words h1 {
        font-size: 30px;
        padding-top: 30px; } }
  @media (max-width: 767px) {
    #head-block {
      overflow-x: hidden !important;
      overflow-y: hidden !important;
      height: 310px; }
      #head-block .embed-container video {
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%; }
      #head-block .embed-container .muteBtn-about {
        bottom: 15px;
        right: 15px; }
        #head-block .embed-container .muteBtn-about i {
          font-size: 18px; }
      #head-block .head-block-words {
        border-width: 6px;
        max-width: 180px;
        height: 120px; }
        #head-block .head-block-words h1 {
          font-size: 24px;
          padding-top: 30px; }
          #head-block .head-block-words h1 br {
            display: none; } }

#about-club-block {
  display: flex;
  align-items: center;
  height: 1070px; }
  #about-club-block .about-club-item-center {
    max-width: 50vw;
    text-align: center; }
    #about-club-block .about-club-item-center h1 {
      padding-top: 0; }
    #about-club-block .about-club-item-center h3 {
      padding-top: 0;
      width: 70%;
      margin: 0 auto; }
    #about-club-block .about-club-item-center p {
      padding-top: 100px;
      font-size: 25px;
      color: #FFFDFD;
      text-decoration: underline;
      text-transform: uppercase; }
  #about-club-block .about-club-item-left {
    width: 25vw;
    min-height: 1070px;
    background-image: url(../img/august_profilbild-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    position: relative; }
  #about-club-block .about-club-item-right {
    width: 25vw;
    min-height: 1070px;
    background-image: url(../img/august_profilbild-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    position: relative; }
  @media (max-width: 991px) {
    #about-club-block {
      height: 840px;
      text-align: center; }
      #about-club-block .about-club-item-center {
        max-width: 100vw;
        text-align: center; }
        #about-club-block .about-club-item-center h1 {
          padding-bottom: 20px; }
        #about-club-block .about-club-item-center h3 {
          padding-top: 0;
          width: 67%;
          margin: 0 auto; }
        #about-club-block .about-club-item-center p {
          display: none; }
      #about-club-block .about-club-item-left {
        display: none; }
      #about-club-block .about-club-item-right {
        display: none; } }

#titel-bild-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 950px;
  background-image: url(../img/titelbild_feb_2020-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }
  #titel-bild-block a {
    text-decoration: none; }
  #titel-bild-block .titel-bild-card-left, #titel-bild-block .titel-bild-card-right {
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    border: 8px solid #FFFDFD;
    background-color: transparent;
    backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    -webkit-backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%); }
    #titel-bild-block .titel-bild-card-left:hover, #titel-bild-block .titel-bild-card-right:hover {
      border-color: #E2AD26; }
      #titel-bild-block .titel-bild-card-left:hover h1, #titel-bild-block .titel-bild-card-right:hover h1 {
        color: #E2AD26; }
  @media (max-width: 991px) {
    #titel-bild-block {
      height: 750px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-position: 75% 50%; }
      #titel-bild-block .titel-bild-card-left, #titel-bild-block .titel-bild-card-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 250px;
        height: 236px; }
        #titel-bild-block .titel-bild-card-left .fb-events, #titel-bild-block .titel-bild-card-right .fb-events {
          background-color: transparent;
          padding-top: 5px !important;
          width: 236px;
          height: 180px; }
          #titel-bild-block .titel-bild-card-left .fb-events iframe, #titel-bild-block .titel-bild-card-right .fb-events iframe {
            top: -70px;
            width: 236px !important;
            height: 240px !important; }
        #titel-bild-block .titel-bild-card-left h1, #titel-bild-block .titel-bild-card-right h1 {
          padding-top: 0; } }

#head-block-corporate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }
  #head-block-corporate .embed-container {
    width: 100vw;
    object-fit: cover;
    height: auto;
    overflow: hidden;
    --video--width: 1280*1.25;
    --video--height: 720*0.75;
    padding-bottom: calc(var(--video--height) / var(--video--width) * 100%); }
    #head-block-corporate .embed-container video {
      position: absolute;
      top: -10%;
      left: -25%;
      width: 150%;
      height: 110%; }
    #head-block-corporate .embed-container .overlay {
      position: absolute;
      width: 150%;
      height: 110%;
      top: -10%;
      left: -25%;
      z-index: 3;
      background-color: rgba(0, 0, 0, 0.25); }
    #head-block-corporate .embed-container .muteBtn-corp {
      outline: none !important;
      box-shadow: none;
      z-index: 5;
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: flex;
      border: 1px solid rgba(255, 253, 253, 0.5);
      border-radius: 5px;
      background-color: transparent;
      padding: 5px 6px; }
      #head-block-corporate .embed-container .muteBtn-corp:active {
        outline: none !important;
        box-shadow: none; }
      #head-block-corporate .embed-container .muteBtn-corp.active-sound {
        border: 1px solid #e2ad26; }
      #head-block-corporate .embed-container .muteBtn-corp i {
        font-size: 25px;
        text-align: center;
        line-height: 1; }
        #head-block-corporate .embed-container .muteBtn-corp i.bi-volume-up {
          color: #e2ad26; }
        #head-block-corporate .embed-container .muteBtn-corp i.bi-volume-mute {
          color: rgba(255, 253, 253, 0.5); }
  #head-block-corporate .head-block-words {
    z-index: 5;
    position: absolute;
    margin: 0 auto;
    width: 435px;
    height: 347px;
    border: 8px solid #FFFDFD;
    backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    -webkit-backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%); }
    #head-block-corporate .head-block-words h1 {
      padding-top: 110px;
      font-size: 35px;
      line-height: 1.15; }
    #head-block-corporate .head-block-words p {
      text-align: center;
      color: #FFFDFD;
      font-size: 23px;
      line-height: 1.15; }
  @media (max-width: 991px) {
    #head-block-corporate .head-block-words {
      max-width: 250px;
      height: 250px; }
      #head-block-corporate .head-block-words h1 {
        font-size: 30px;
        padding-top: 60px; }
        #head-block-corporate .head-block-words h1 br {
          display: none; } }
  @media (max-width: 767px) {
    #head-block-corporate {
      overflow-x: hidden !important;
      overflow-y: hidden !important;
      height: 400px; }
      #head-block-corporate .embed-container video {
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%; }
      #head-block-corporate .embed-container .muteBtn-corp {
        bottom: 15px;
        right: 15px; }
        #head-block-corporate .embed-container .muteBtn-corp i {
          font-size: 18px; }
      #head-block-corporate .head-block-words {
        border-width: 6px;
        max-width: 180px;
        height: 120px; }
        #head-block-corporate .head-block-words h1 {
          font-size: 24px;
          padding-top: 15px; }
          #head-block-corporate .head-block-words h1 br {
            display: none; } }

#corp-event-block {
  display: flex;
  align-items: center;
  height: 1070px; }
  #corp-event-block .corp-event-item-center {
    max-width: 50vw;
    text-align: center; }
    #corp-event-block .corp-event-item-center h1 {
      padding-top: 0; }
    #corp-event-block .corp-event-item-center h3 {
      padding-top: 0;
      width: 70%;
      margin: 0 auto; }
  #corp-event-block .corp-event-item-left {
    width: 25vw;
    min-height: 1070px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  #corp-event-block .corp-event-item-right {
    width: 25vw;
    min-height: 1070px; }
  @media (max-width: 991px) {
    #corp-event-block {
      height: 850px;
      text-align: center; }
      #corp-event-block .corp-event-item-center {
        max-width: 100vw;
        text-align: center; }
        #corp-event-block .corp-event-item-center h1 {
          padding-bottom: 20px;
          width: 70%;
          font-size: 40px;
          margin: 0 auto; }
        #corp-event-block .corp-event-item-center h3 {
          padding-top: 0;
          width: 80%;
          margin: 0 auto; }
        #corp-event-block .corp-event-item-center p {
          display: none; }
      #corp-event-block .corp-event-item-left {
        display: none; }
      #corp-event-block .corp-event-item-right {
        display: none; } }

#corporate-carousel .carousel-indicators [data-bs-target] {
  margin-bottom: 5rem;
  background-color: transparent;
  border: 3px solid #FFFDFD;
  border-radius: 30px;
  opacity: 0.75;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-left: 12px; }
  #corporate-carousel .carousel-indicators [data-bs-target].active {
    opacity: 1;
    background-color: #FFFDFD;
    border: 3px solid #FFFDFD; }

@media (max-width: 991px) {
  #corporate-carousel .carousel-indicators [data-bs-target] {
    margin-bottom: 2rem;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-left: 10px; }
    #corporate-carousel .carousel-indicators [data-bs-target].active {
      opacity: 1;
      background-color: #FFFDFD;
      border: 3px solid #FFFDFD; } }

@media (max-width: 767px) {
  #corporate-carousel .carousel-indicators [data-bs-target] {
    display: none; } }

#contact-info-block .contact-info-item-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 1083px;
  margin: 0 auto; }
  #contact-info-block .contact-info-item-center h3 {
    width: 70%;
    margin: 0 auto; }

@media (max-width: 991px) {
  #contact-info-block .contact-info-item-center {
    height: 800px;
    width: 80%; }
    #contact-info-block .contact-info-item-center h3 {
      width: 100%; } }

#head-block-booktable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 980px;
  background-image: url(../img/head_background-booktable.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }
  #head-block-booktable .head-block-words {
    margin: 0 auto;
    width: 435px;
    height: 347px;
    border: 8px solid #FFFDFD;
    backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    -webkit-backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%); }
    #head-block-booktable .head-block-words h1 {
      padding-top: 120px;
      font-size: 35px;
      line-height: 1.15; }
  @media (max-width: 991px) {
    #head-block-booktable {
      height: 560px; }
      #head-block-booktable .head-block-words {
        max-width: 270px;
        height: 290px; }
        #head-block-booktable .head-block-words h1 {
          padding-top: 70px; } }

#booktable-block .booktable-item-center {
  padding-top: 320px;
  margin: 0 auto; }
  #booktable-block .booktable-item-center h1 {
    padding-top: 0;
    margin-bottom: 1rem; }
  #booktable-block .booktable-item-center h3 {
    padding-top: 0; }

@media (max-width: 991px) {
  #booktable-block .booktable-item-center {
    padding-top: 130px;
    height: 735px; } }

@media (max-width: 767px) {
  #booktable-block .booktable-item-center {
    padding-top: 130px;
    height: 620px; } }

#booktable-contact-from {
  padding-top: 170px; }
  #booktable-contact-from .container .form-left-side .col-group-item {
    border: 1px solid #707070;
    background-color: #FFFDFD;
    height: 98px;
    padding-left: 24px;
    padding-top: 16px; }
    #booktable-contact-from .container .form-left-side .col-group-item label {
      font-size: 20px;
      line-height: 1.15;
      color: #E2AD26;
      margin-bottom: 0; }
    #booktable-contact-from .container .form-left-side .col-group-item input {
      padding-left: 0;
      border: none;
      font-size: 25px;
      line-height: 1.15;
      color: #707070; }
      #booktable-contact-from .container .form-left-side .col-group-item input::-webkit-input-placeholder {
        color: #dfe4ea; }
      #booktable-contact-from .container .form-left-side .col-group-item input::-ms-input-placeholder {
        color: #dfe4ea; }
      #booktable-contact-from .container .form-left-side .col-group-item input::-ms-input-placeholder {
        color: #dfe4ea; }
      #booktable-contact-from .container .form-left-side .col-group-item input::placeholder {
        color: #dfe4ea; }
      #booktable-contact-from .container .form-left-side .col-group-item input:focus {
        border: none;
        box-shadow: none; }
      #booktable-contact-from .container .form-left-side .col-group-item input#validationCustom01 {
        position: relative;
        height: 45px;
        color: #707070; }
        #booktable-contact-from .container .form-left-side .col-group-item input#validationCustom01::-webkit-calendar-picker-indicator {
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="hsl(43, 76%, 52%)" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
          position: absolute;
          top: -2px;
          right: 8px; }
    #booktable-contact-from .container .form-left-side .col-group-item select {
      margin-top: -30px;
      padding-top: 30px;
      padding-left: 0;
      border: none;
      font-size: 25px;
      line-height: 1.15;
      color: #707070; }
      #booktable-contact-from .container .form-left-side .col-group-item select:focus {
        border: none;
        box-shadow: none; }
      #booktable-contact-from .container .form-left-side .col-group-item select.form-select {
        background-position: right .75rem top 1.5rem;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.704 27.342' width='27.704' height='27.342'><path fill='none' stroke='hsl(43, 76%, 52%)' stroke-linecap='' stroke-linejoin='' stroke-width='3' d='M-3955,0l-12,26Zm-25,0,13,26Z' transform='translate(3981.342 0.671)'/></svg>");
        background-size: 27.7px 27.3px;
        height: 75px; }
      #booktable-contact-from .container .form-left-side .col-group-item select.select-with-multi-icon {
        background-position: right .75rem bottom .10rem;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='27.724' height='75.341' viewBox='0 0 27.724 75.341'><path fill='none' stroke='hsl(43, 76%, 52%)' stroke-linecap='' stroke-linejoin='' stroke-width='3' d='M-3980-188l13,26Zm25,0-12,26Zm-13-48,13,26Zm0,0-12,26Z' transform='translate(3981.362 236.671)' /></svg>");
        background-size: 27px 75px;
        height: 75px; }
    #booktable-contact-from .container .form-left-side .col-group-item .invalid-feedback {
      margin-top: -10px; }
  #booktable-contact-from .container .form-left-side .col-group-item-textarea {
    background-color: #FFFDFD;
    padding-left: 24px;
    padding-top: 16px; }
    #booktable-contact-from .container .form-left-side .col-group-item-textarea label {
      font-size: 20px;
      line-height: 1.15;
      color: #E2AD26;
      margin-bottom: 0; }
    #booktable-contact-from .container .form-left-side .col-group-item-textarea textarea {
      padding-left: 0;
      border: none;
      font-size: 25px;
      line-height: 1.15;
      color: #707070; }
      #booktable-contact-from .container .form-left-side .col-group-item-textarea textarea:focus {
        border: none;
        box-shadow: none; }
      #booktable-contact-from .container .form-left-side .col-group-item-textarea textarea::-webkit-input-placeholder {
        color: #dfe4ea; }
      #booktable-contact-from .container .form-left-side .col-group-item-textarea textarea::-ms-input-placeholder {
        color: #dfe4ea; }
      #booktable-contact-from .container .form-left-side .col-group-item-textarea textarea::-ms-input-placeholder {
        color: #dfe4ea; }
      #booktable-contact-from .container .form-left-side .col-group-item-textarea textarea::placeholder {
        color: #dfe4ea; }
  #booktable-contact-from .container .form-right-side .top-content {
    margin-left: 50px; }
    #booktable-contact-from .container .form-right-side .top-content h1 {
      font-size: 25px;
      line-height: 1.15;
      text-align: left;
      padding-top: 0;
      margin-bottom: 30px; }
  #booktable-contact-from .container .form-right-side .bottom-content {
    margin-left: 50px; }
    #booktable-contact-from .container .form-right-side .bottom-content .form-check {
      margin-bottom: 65px; }
      #booktable-contact-from .container .form-right-side .bottom-content .form-check .form-check-input {
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 0;
        border: 5px solid #E2AD26;
        background-color: transparent; }
        #booktable-contact-from .container .form-right-side .bottom-content .form-check .form-check-input:checked[type=checkbox] {
          background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M3 10l5 5l8-8'/></svg>");
          background-color: #E2AD26; }
        #booktable-contact-from .container .form-right-side .bottom-content .form-check .form-check-input:focus {
          box-shadow: none; }
      #booktable-contact-from .container .form-right-side .bottom-content .form-check .form-check-label {
        padding-left: 35px;
        font-size: 14px;
        line-height: 1.15;
        color: #FFFDFD; }
    #booktable-contact-from .container .form-right-side .bottom-content button {
      width: 350px;
      height: 58px;
      border-radius: 0;
      font-size: 22px;
      line-height: 1.15;
      background-color: transparent;
      border: 1px solid #707070;
      padding-top: 10px;
      box-shadow: 0.3em 0.3em 0 0 #E2AD26, inset 0.3em 0.3em 0 0 #E2AD26; }
      #booktable-contact-from .container .form-right-side .bottom-content button:hover, #booktable-contact-from .container .form-right-side .bottom-content button:focus {
        box-shadow: 0 0 0 0 #E2AD26, inset 6em 3.5em 0 0 #E2AD26; }
  @media (max-width: 767px) {
    #booktable-contact-from {
      padding-top: 0; }
      #booktable-contact-from .container .form-left-side .col-group-item {
        border: 1px solid #707070;
        background-color: #FFFDFD;
        height: 73px;
        padding-left: 20px;
        padding-top: 10px; }
        #booktable-contact-from .container .form-left-side .col-group-item label {
          width: 87%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px; }
        #booktable-contact-from .container .form-left-side .col-group-item input {
          margin-top: -11px;
          padding-left: 0;
          border: none;
          font-size: 22px;
          line-height: 1.15;
          color: #707070; }
          #booktable-contact-from .container .form-left-side .col-group-item input:focus {
            border: none;
            box-shadow: none; }
          #booktable-contact-from .container .form-left-side .col-group-item input#validationCustom01 {
            position: relative;
            height: 40px;
            color: #707070; }
        #booktable-contact-from .container .form-left-side .col-group-item select {
          height: 32px;
          margin-top: -35px;
          padding-top: 30px;
          padding-left: 0;
          border: none;
          font-size: 22px;
          line-height: 1.15;
          color: #707070; }
          #booktable-contact-from .container .form-left-side .col-group-item select:focus {
            border: none;
            box-shadow: none; }
          #booktable-contact-from .container .form-left-side .col-group-item select.form-select {
            background-position: right .75rem top 1.5rem;
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.704 27.342' width='27.704' height='27.342'><path fill='none' stroke='hsl(43, 76%, 52%)' stroke-linecap='' stroke-linejoin='' stroke-width='3' d='M-3955,0l-12,26Zm-25,0,13,26Z' transform='translate(3981.342 0.671)'/></svg>");
            background-size: 20px 20px;
            height: 70px; }
          #booktable-contact-from .container .form-left-side .col-group-item select.select-with-multi-icon {
            background-position: right .75rem bottom .10rem;
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='27.724' height='75.341' viewBox='0 0 27.724 75.341'><path fill='none' stroke='hsl(43, 76%, 52%)' stroke-linecap='' stroke-linejoin='' stroke-width='3' d='M-3980-188l13,26Zm25,0-12,26Zm-13-48,13,26Zm0,0-12,26Z' transform='translate(3981.362 236.671)' /></svg>");
            background-size: 20px 60px;
            height: 70px; }
        #booktable-contact-from .container .form-left-side .col-group-item textarea {
          font-size: 22px; }
          #booktable-contact-from .container .form-left-side .col-group-item textarea::-webkit-input-placeholder {
            font-size: 22px; }
          #booktable-contact-from .container .form-left-side .col-group-item textarea::-ms-input-placeholder {
            font-size: 22px; }
          #booktable-contact-from .container .form-left-side .col-group-item textarea::-ms-input-placeholder {
            font-size: 22px; }
          #booktable-contact-from .container .form-left-side .col-group-item textarea::placeholder {
            font-size: 22px; }
        #booktable-contact-from .container .form-left-side .col-group-item .invalid-feedback {
          font-size: 12px;
          margin-top: -8px; }
      #booktable-contact-from .container .form-right-side .top-content {
        padding-top: 70px;
        width: 80%;
        margin: 0 auto; }
      #booktable-contact-from .container .form-right-side .bottom-content {
        width: 80%;
        margin: 0 auto; }
        #booktable-contact-from .container .form-right-side .bottom-content button {
          width: 200px; } }

#head-block-kalender {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 980px;
  background-image: url(../img/head_background-kalender.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative; }
  #head-block-kalender .head-block-words {
    margin: 0 auto;
    width: 435px;
    height: 347px;
    border: 8px solid #FFFDFD;
    backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%);
    -webkit-backdrop-filter: blur(10px) brightness(99%) contrast(55%) opacity(80%); }
    #head-block-kalender .head-block-words h1 {
      padding-top: 120px;
      font-size: 35px;
      line-height: 1.15; }
  @media (max-width: 991px) {
    #head-block-kalender {
      height: 590px;
      background-position: 14% 50%; }
      #head-block-kalender .head-block-words {
        max-width: 270px;
        height: 290px; }
        #head-block-kalender .head-block-words h1 {
          padding-top: 90px; } }

#kalender-cards-block {
  padding-top: 120px; }
  #kalender-cards-block .kalender-cards-row {
    justify-content: center; }
    #kalender-cards-block .kalender-cards-row .kalender-card-center .card {
      margin-bottom: 84px !important; }
      #kalender-cards-block .kalender-cards-row .kalender-card-center .card .text-col .card-body {
        padding-left: 90px; }
        #kalender-cards-block .kalender-cards-row .kalender-card-center .card .text-col .card-body h1 {
          text-align: left;
          font-size: 66px;
          line-height: 1.15;
          color: #000000;
          padding-top: 45px; }
        #kalender-cards-block .kalender-cards-row .kalender-card-center .card .text-col .card-body h2 {
          text-align: left;
          font-size: 49px;
          line-height: 1.15;
          color: #E2AD26;
          padding-top: 10px; }
    #kalender-cards-block .kalender-cards-row .kalender-card-center .fb-events {
      text-align: center;
      height: 700px; }
      @media (max-width: 767px) {
        #kalender-cards-block .kalender-cards-row .kalender-card-center .fb-events {
          height: 500px; } }
  @media (max-width: 991px) {
    #kalender-cards-block {
      padding-top: 50px; }
      #kalender-cards-block .kalender-cards-row {
        justify-content: center; }
        #kalender-cards-block .kalender-cards-row .kalender-card-center .card {
          margin-bottom: 20px !important; }
          #kalender-cards-block .kalender-cards-row .kalender-card-center .card .text-col .card-body {
            padding-left: 30px; }
            #kalender-cards-block .kalender-cards-row .kalender-card-center .card .text-col .card-body h1 {
              text-align: left;
              font-size: 50px;
              line-height: 1.15;
              color: #000000;
              padding-top: 30px; }
            #kalender-cards-block .kalender-cards-row .kalender-card-center .card .text-col .card-body h2 {
              width: 80%;
              text-align: left;
              font-size: 38px;
              line-height: 1.15;
              color: #E2AD26;
              padding-top: 0;
              padding-bottom: 40px; } }

#lorem-info-block .lorem-info-item-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  min-height: 900px;
  margin: 0 auto; }
  #lorem-info-block .lorem-info-item-center h3 {
    width: 70%;
    margin: 0 auto; }

@media (max-width: 991px) {
  #lorem-info-block .lorem-info-item-center {
    min-height: 800px; }
    #lorem-info-block .lorem-info-item-center h3 {
      width: 100%;
      margin: 0 auto; } }

footer {
  min-height: 570px;
  margin: 0 4vw; }
  footer .container-foo {
    padding-top: 185px; }
    footer .container-foo .footer-col-item h1, footer .container-foo .footer-col-item p {
      color: #FFFDFD;
      font-size: 33px;
      text-align: left;
      line-height: 1.15;
      padding: 0 2vw; }
      footer .container-foo .footer-col-item h1 a, footer .container-foo .footer-col-item p a {
        color: #FFFDFD;
        text-decoration: none; }
        footer .container-foo .footer-col-item h1 a:hover, footer .container-foo .footer-col-item p a:hover {
          color: #E2AD26; }
    footer .container-foo .footer-col-item p {
      padding-top: 40px; }
    footer .container-foo .footer-col-item:nth-child(1), footer .container-foo .footer-col-item:nth-child(3) {
      word-break: break-all; }
  footer .footer-image {
    justify-content: center; }
  @media (max-width: 991px) {
    footer .container-foo {
      padding-top: 120px; }
      footer .container-foo .footer-col-item h1, footer .container-foo .footer-col-item p {
        color: #FFFDFD;
        font-size: 25px;
        text-align: left;
        line-height: 1.15;
        padding: 0 2vw; }
        footer .container-foo .footer-col-item h1.mobile-p, footer .container-foo .footer-col-item p.mobile-p {
          padding-top: 0;
          font-size: 23px;
          margin-bottom: 30px; }
      footer .container-foo .footer-col-item p {
        padding-top: 15px; }
      footer .container-foo .footer-col-item:nth-child(1) p {
        font-size: 21px; }
    footer .footer-image {
      padding-top: 20px;
      padding-bottom: 20px; } }
  @media (max-width: 767px) {
    footer .container-foo .footer-col-item h1.mobile-p {
      padding-top: 40px; } }
