@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,400');

@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'Acier-TextSolid';
  font-style: normal;
  font-weight: 400;
  src: url('../lib/fonts/Acier/Acier-TextSolid.ttf') format('woff2'),
  url('../lib/fonts/Acier/Acier-TextSolid.woff') format('woff'),
  url('../lib/fonts/Acier/Acier-TextSolid.ttf') format('truetype');
}


$main-font: 'Acier-TextSolid', sans-serif;

$sub-font: 'Roboto', sans-serif;